* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar Container */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px 40px;

    background-color: #222;
    color: white;
}

/* Logo */
.logo {
    font-size: 24px;
    font-weight: bold;
}

/* Nav Links Container */
.nav-links {
    display: flex;
    gap: 20px;

    list-style: none;
}

/* Links */
.nav-links a {
    text-decoration: none;
    color: white;

    font-size: 18px;

    transition: 0.3s;
}

/* Hover Effect */
.nav-links a:hover {
    color: orange;
}