/* About.css */

.about-container {
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 50px;

    padding: 60px;

    background: #f3f4f6;
}

/* Left Side */
.about-image {
    flex: 1;

    display: flex;
    justify-content: center;
}

.about-image img {
    width: 100%;
    max-width: 500px;

    border-radius: 20px;

    object-fit: cover;

    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
}

/* Right Side */
.about-content {
    flex: 1;
}

.about-content h1 {
    font-size: 55px;

    color: #1e3a8a;

    margin-bottom: 25px;
}

.about-content p {
    font-size: 18px;

    line-height: 1.8;

    color: #374151;

    margin-bottom: 20px;
}

.about-content button {
    padding: 14px 30px;

    border: none;
    border-radius: 8px;

    background: #2563eb;

    color: white;

    font-size: 16px;

    cursor: pointer;

    transition: 0.3s;
}

.about-content button:hover {
    background: #1d4ed8;

    transform: translateY(-3px);
}

/* Responsive */
@media(max-width: 900px) {

    .about-container {
        flex-direction: column;

        padding: 30px;
    }

    .about-content {
        text-align: center;
    }

    .about-content h1 {
        font-size: 40px;
    }
}