/* NotFound.css */

.notfound-container {
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background: linear-gradient(to right, #111827, #1e3a8a);

    color: white;
    text-align: center;
}

.notfound-container h1 {
    font-size: 100px;
    margin-bottom: 20px;

    font-weight: bold;
}

.notfound-container p {
    font-size: 22px;
    margin-bottom: 20px;
}

.notfound-btn {
    padding: 8px 20px;

    border: none;
    border-radius: 8px;

    background: #2563eb;
    color: white;

    font-size: 16px;
    cursor: pointer;

    transition: 0.3s;

    text-decoration: none;

    display: inline-block;
}

.notfound-btn:hover {
    background: #1d4ed8;
    transform: scale(1.05);
    color: #fff;
    text-decoration: none;
}